* {
  box-sizing: border-box;
}
.selectedCluster {
    border-width: 10px !important;
    margin-left: -8px !important;
    margin-top: -8px !important;
}

.normalCluster {
    border-width: 2px !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
}

.info-list {
    width: 200px;
    max-height: 340px;
    overflow: scroll;
}

.info-list-item:hover {
    color: #007afe !important;
}

.info-list-item {
    padding: 7px 0;
    cursor: pointer;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.info-container {
    background-color: #1f2440;
    padding: 6px 8px;
    color: #ffffff;
    font-size: 14px;
    border-radius: 4px;
    box-shadow: 0 .1rem .1rem 0 transparentize(#000000, .86);
    position: relative;

}

.info-container:after {
    content: "";
    position: absolute;
    border: .4rem solid transparent;
    border-top-color: #1f2440;
    bottom: -19px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.select-trigger {
  line-height: 2.05rem !important;
}

.select-trigger-inputting__placeholder {
  font-size: 14px;
}

.select-popover .popover__content {
  width: 100% !important;
}

.select__selection .list__item__tail {
  color: #007afe !important;
}

.pagination .pagination__options {
  display: none !important;
}

.brick-input-control:hover .brick-input-control__addon--tail {
  opacity: 1 !important;
}
.brick-input-control .brick-input-control__addon--tail {
  opacity: 0 !important;
}

.tooltip.tooltip__bottom-center {
  background-color: #313c56 !important;
  color: #ffffff !important;
  font-weight: 500 !important;
  top: 70.928px !important;
  left: 407.654px !important;
}

.tooltip.tooltip__bottom-center::before {
  border-bottom-color: #313c56 !important;
}

.list__item__order-index {
  flex: 0 0 10% !important;
  text-align: center;
  font-size: 16px;
  margin-top: 3px;
}

.amap-info-contentContainer .amap-info-content {
  background-color: #1f2440;
  padding: 6px 8px;
  color: #ffffff;
  font-size: 14px;
  border-radius: 4px;
  box-shadow: 0 .1rem .1rem 0 transparentize(#000000, .86);
}

.amap-info-contentContainer .amap-info-close {
  display: none;
}

.amap-info-contentContainer .amap-info-sharp {
  border-top: 8px solid #1f2440;
}

table tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.01);
}

.amap-container {
  background-color: #121732 !important;
}

.amap-logo {
  display: none !important;
}

.table.table--dark th,
.table.table--dark th:hover {
  line-height: 36px !important;
  font-size: 14px !important;
  color: #367eef !important;
}

.table.table--dark td,
.table.table--dark td:hover {
  font-size: 12px !important;
  line-height: 26px !important;
  padding: 6px 8px;
  font-weight: 400;
  color: rgba(255, 255, 255, .7) !important;
}

.table.table--dark th,
.table.table--dark td {
  text-align: left !important;
  font-weight: 500;
}

.table.table--dark .row-index-cell {
  display: inline-flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  background-color: #007afe;
  border-radius: 50%;
  font-weight: 500;
}

.table.table--dark .table__body {
  max-height: 258px !important;
}

.table.table--dark th,
.table.table--dark th:hover {
  line-height: 36px !important;
  font-size: 14px !important;
  color: #367eef !important;
}

.table.table--dark .table__head thead {
  border-bottom-width: 1px !important;
  border-bottom-color: rgba(255, 255, 255, .04) !important;
}

.table.table--dark td,
.table.table--dark td:hover {
  font-size: 12px !important;
  line-height: 26px !important;
  padding: 6px 8px;
  font-weight: 400;
  color: rgba(255, 255, 255, .7) !important;
}

.table.table--dark th,
.table.table--dark td {
  text-align: left !important;
  font-weight: 500;
}

.table.table--dark .row-index-cell {
  display: inline-flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  background-color: #007afe;
  border-radius: 50%;
  font-weight: 500;
}

.table.table--dark .table__body {
  max-height: 258px !important;
}

.citizen .brick-input-control .brick-input-control__addon:last-child:after,
.citizen .brick-input-control:focus .brick-input-control__addon:last-child:after {
  background-color: rgba(255, 255, 255, .03) !important;
}

.citizen .brick-input-control:hover .brick-input-control__addon:last-child:after {
  background-color: rgba(255, 255, 255, .06) !important;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'Oswald-Regular';
  src:
    url('/piduzxqy/fonts/Oswald-Regular.woff') format('woff'),
    url('/piduzxqy/fonts/Oswald-Regular.woff2') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Oswald-Light';
  src:
    url('/piduzxqy/fonts/Oswald-Light.woff') format('woff'),
    url('/piduzxqy/fonts/Oswald-Light.woff2') format('woff');
  font-weight: normal;
}
