.select-popover .popover__content {
  width: 100% !important;
}

.select__selection .list__item__tail {
  color: #007afe !important;
}

.pagination .pagination__options {
  display: none !important;
}

.brick-input-control:hover .brick-input-control__addon--tail {
  opacity: 1 !important;
}
.brick-input-control .brick-input-control__addon--tail {
  opacity: 0 !important;
}

.tooltip.tooltip__bottom-center {
  background-color: #313c56 !important;
  color: #ffffff !important;
  font-weight: 500 !important;
  top: 70.928px !important;
  left: 407.654px !important;
}

.tooltip.tooltip__bottom-center::before {
  border-bottom-color: #313c56 !important;
}

.list__item--optional:hover .list__item__description {
  color: #007afe;
}

.list__item__order-index {
  flex: 0 0 10% !important;
  text-align: center;
}

.amap-info-contentContainer .amap-info-content {
  background-color: #1f2440;
  padding: 6px 8px;
  color: #ffffff;
  font-size: 14px;
  border-radius: 4px;
  box-shadow: 0 .1rem .1rem 0 transparentize(#000000, .86);
}

.amap-info-contentContainer .amap-info-close {
  display: none;
}

.amap-info-contentContainer .amap-info-sharp {
  border-top: 8px solid #1f2440;
}

table tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.01);
}

* {
  box-sizing: border-box;
}

.amap-container {
  background-color: #121732 !important;
}

.amap-logo {
  display: none !important;
}

.table.table--dark th,
.table.table--dark th:hover {
  line-height: 36px !important;
  font-size: 14px !important;
  color: #367eef !important;
}

.table.table--dark td,
.table.table--dark td:hover {
  font-size: 12px !important;
  line-height: 26px !important;
  padding: 6px 8px;
  font-weight: 400;
  color: rgba(255, 255, 255, .7) !important;
}

.table.table--dark th,
.table.table--dark td {
  text-align: left !important;
  font-weight: 500;
}

.table.table--dark .row-index-cell {
  display: inline-flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  background-color: #007afe;
  border-radius: 50%;
  font-weight: 500;
}

.table.table--dark .table__body {
  max-height: 258px !important;
}

@font-face {
  font-family: 'Oswald-Regular';
  src:
    url('/jingxinju/fonts/Oswald-Regular.woff') format('woff'),
    url('/jingxinju/fonts/Oswald-Regular.woff2') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Oswald-Light';
  src:
    url('/jingxinju/fonts/Oswald-Light.woff') format('woff'),
    url('/jingxinju/fonts/Oswald-Light.woff2') format('woff');
  font-weight: normal;
}
